Source: noise-suppression-for-voice
Section: sound
Priority: optional
Maintainer: Chengyi Zhao <packages@deepin.com>
Build-Depends:
 cmake (>= 3.6),
 debhelper-compat (= 13),
 libcatch2-dev (>= 3.7.1),
 ninja-build,
Standards-Version: 4.7.4
Homepage: https://github.com/werman/noise-suppression-for-voice
Vcs-Browser: https://github.com/deepin-community/noise-suppression-for-voice
Vcs-Git: https://github.com/deepin-community/noise-suppression-for-voice.git
Rules-Requires-Root: no

Package: rnnoise-plugin-ladspa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: pipewire (>= 1.6.0), rtkit-daemon
Enhances: pipewire
Description: Real-time noise suppression LADSPA plugin for voice
 A real-time noise suppression LADSPA plugin for voice based on
 Xiph's RNNoise library.
 .
 The plugin is meant to suppress a wide range of noise origins
 (computer fans, office, crowd, airplane, car, train, construction).
 .
 This package provides the LADSPA plugin format, which can be
 used with PipeWire, PulseAudio, or any LADSPA-compatible host.
 .
 Plugin labels:
  - noise_suppressor_mono   (mono, 1 channel)
  - noise_suppressor_stereo (stereo, 2 channels)
